<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.d204.rumeet.fcm.model.mapper.FcmMapper">

    <update id="updateUserToken" parameterType="FcmTokenDto">
        UPDATE user
        SET fcm_token = #{fcmToken}
        WHERE (id = #{id});
    </update>

</mapper>