<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.d204.rumeet.game.model.mapper.GameMapper">

    <insert id="makeRace" parameterType="RaceDto"  useGeneratedKeys="true" keyProperty="id">
        INSERT INTO race (user_id,partner_id,mode,date) VALUES (#{userId},#{partnerId},#{mode},#{date})
    </insert>

    <select id="getMode" parameterType="int" resultType="int">
        SELECT mode FROM rumeet.race where id = #{raceId}
    </select>
</mapper>