<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.d204.rumeet.record.model.mapper.RecordMapper">

    <resultMap id="record" type="RecordDto">
        <result column="user_id" property="userId"/>
        <result column="total_count" property="totalCount"/>
        <result column="total_km" property="totalKm"/>
        <result column="total_time" property="totalTime"/>
        <result column="average_pace" property="averagePace"/>
        <result column="team_success_count" property="teamSuccessCount"/>
        <result column="competition_success_count" property="competitionSuccessCount"/>
    </resultMap>


    <resultMap id="raceInfo" type="RaceModeInfoDto">
        <result column="race_id" property="raceId"/>
        <result column="user_id" property="userId"/>
        <result column="time" property="time"/>
        <result column="km" property="km"/>
        <result column="pace" property="pace"/>
        <result column="heart_rate" property="heartRate"/>
        <result column="kcal" property="kcal"/>
        <result column="success" property="success"/>
        <result column="polyline" property="polyline"/>
        <result column="date" property="date"/>
        <result column="mode" property="mode"/>
    </resultMap>

    <select id="getRecord" parameterType="int" resultMap="record">
        SELECT * FROM record WHERE user_id = #{userId};
    </select>

    <update id="updateRecord" parameterType="RecordDto">
        UPDATE record
        SET
            total_count = #{totalCount},
            total_km = #{totalKm},
            average_pace = #{averagePace},
            total_time = #{totalTime},
            team_success_count = #{teamSuccessCount},
            competition_success_count = #{competitionSuccessCount}
        WHERE user_id = #{userId}
    </update>

    <insert id="addRaceInfo" parameterType="RaceInfoDto">
        INSERT INTO race_info (race_id, user_id, velocity, km, time, heart_rate, kcal, success, polyline, date)
        VALUES (#{raceId}, #{userId}, #{velocity}, #{km}, #{time}, #{heartRate}, #{kcal}, #{success}, #{polyline},#{date})
    </insert>

    <select id="getRaceInfo" resultMap="raceInfo">
        SELECT ri.race_id, ri.user_id, r.mode, ri.time/ri.km as pace, ri.time, ri.km, ri.heart_rate, ri.kcal, ri.success, ri.polyline, ri.date
        FROM race_info ri
        JOIN race r ON r.id = ri.race_id
        WHERE ri.user_id = #{userId} AND ri.date between #{startDate} and #{endDate}
        ORDER BY ri.date DESC
    </select>

    <select id="getRaceInfoSummary" resultType="RaceInfoSummaryDto">
        SELECT SUM(km) AS total_km, SUM(time) AS total_time, AVG(time/km) AS avg_pace
        FROM race_info
        WHERE user_id = #{userId} AND date between #{startDate} and #{endDate}
    </select>

</mapper>