<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.d204.rumeet.record.model.mapper.RecordMapper">

    <resultMap id="record" type="RecordDto">
        <result column="user_id" property="user_id"/>
        <result column="total_count" property="total_count"/>
        <result column="total_km" property="total_km"/>
        <result column="total_time" property="total_time"/>
        <result column="average_pace" property="average_pace"/>
        <result column="team_success_count" property="team_success_count"/>
        <result column="competition_success_count" property="competition_success_count"/>
    </resultMap>
    <select id="getRecord" parameterType="int" resultMap="record">
        SELECT * FROM record WHERE user_id = #{userId};
    </select>

    <update id="updateRecord">
        UPDATE record
        SET
            total_count = total_count + 1,
            total_km = total_km + #{km},
            average_pace = #{pace},
            total_time = total_time + #{elapsedTime},
            team_success_count = #{teamSuccess},
            competition_success_count = #{completeSuccess}
        WHERE user_id = #{userId}
    </update>



</mapper>